*{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	height: 100px;
	text-align: center;
	background-color: #fbf8dc;
	padding: 13px 0 0 0;
	color: #ff7a99;
}

td{
	text-align: center;
}
.pastel{
	background-color: #ffeecf;
}
.pago{
	background-color: #b6ffb6;
}
.nopago{

}
.ok{
	background-color: #dcf0ff;
}
.enc{
	background-color: #cdffcd;
	padding: 0 15px 0px 25px;
	text-align: center;
}
footer{
	background-color: #e0e0e0;
	width: 100%;
	height: 100px;
	padding: 25px;
	text-align: center;
}
